@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background-color: #1f242d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.contact-form {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.contact-form .input-field {
  margin-bottom: 20px;
  position: relative;
}

input,
select,
textarea {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 8px;
  background-color: white;
  color: #333;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 12px;
  color: #333;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

input[type="submit"] {
  background-color: orange;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
}

.error-field {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.error-message.active {
  display: block;
}
